@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Layout */
.App {
  height: 100vh;
  display: grid;
  grid-template:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 56px 1fr 30px;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/* Formik Error Message */
.error {
  color: red;
}

/* Custom Btns */
.btn-home {
  width: 300px;
  height: 200px;
}

.btn-agendar {
  margin-top: 1rem;
  width: 150px;
}

.btn-date {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

/* Workaround for hide the disabled times from datePicker */
.react-datepicker__time-list-item--disabled {
  display: none;
}
